.end {
  background-image: url("../assets/end-background.jpg");
  background-position: bottom 40% center;
  background-size: cover;
  border: 1em solid var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: end;
}

.end__title-container {
  overflow: hidden;
  margin-block: 18vh 2.5em;
}

.end__title {
  font-size: 7.5rem;
  margin: 0;
  margin-inline-end: 7vw;
  overflow: hidden;
  line-height: 1;
}

.end__links {
  display: flex;
  gap: 2.8em;
  margin-right: 7vw;
}

.end__link img {
  height: 5rem;
}
