.landing {
  /* min-height: 100vh; */
  position: relative;
}

.nav__a {
  text-decoration: none;
}

.nav__text {
  text-decoration: underline;
}

.landing__links {
  display: flex;
  gap: 0.2em;
}

.landing__link {
  padding: 1em;
}

.landing__link img {
  display: block;
  max-height: 2.5rem;
}

.landing__mouse {
  position: absolute;
  bottom: 2em;
  left: 2em;
}
