.landing {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0;
  border: var(--container-border-width) solid white;
  max-height: 100vh;
  overflow: hidden;
}

.nav {
  position: absolute;
  right: 2em;
  top: 0.6em;
}

.nav__a {
  text-decoration: none;
  font-size: 1.2rem;
}

.nav__text {
  text-decoration: underline;
}

.landing__text-container {
  margin-block-start: 12vw;
  transform: translateX(7rem);
}

.landing__title {
  font-size: 5.2rem;
  margin: 0;
}

.landing__description {
  font-size: 1.1rem;
  margin-block-end: 2rem;
}

.landing__links {
  display: flex;
  gap: 0.2em;
  align-items: flex-end;
}

.landing__link {
  padding: 1em;
}

.landing__link img {
  display: block;
  max-height: 2.5rem;
}

.landing__email-icon {
  height: 2.2rem;
}

.landing__cv-icon {
  height: 2.4rem;
}

.landing__video {
  max-height: 100vh;
  width: min-content;
  align-self: end;
  z-index: -10;
}

.landing__mouse {
  position: absolute;
  bottom: 2em;
  left: 2em;
}

@media (orientation: portrait) {
  .landing {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
  }

  .nav {
    display: none;
  }

  .landing__text-container {
    margin-block-start: 0;
    transform: translateX(0);
    padding: 1em;
    margin-bottom: 5em;
  }

  .landing__title {
    font-size: 3.2rem;
    margin: 0;
  }

  .landing__description {
    margin-block-end: 1.7rem;
  }

  .landing__links {
    margin-left: -0.86rem;
  }

  .landing__video {
    display: none;
  }
}
