.project-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  border: var(--container-border-width) solid white;
  border-bottom: calc(var(--container-border-width) / 2) solid white;
  border-top: calc(var(--container-border-width) / 2) solid white;
  height: calc(100vh - calc(var(--container-border-width) / 2) * 2);
  box-sizing: border-box;
}

.project-container:nth-of-type(1) {
  border-top: none;
}

.project {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 5em;
  width: 100%;
  margin: auto;
}

.project__text-container {
  width: max-content;
  justify-self: flex-end;
}

.project__title {
  font-size: 2.5rem;
  margin-block: 0 0.3em;
}

.project__description {
  margin-block-end: 3em;
  max-width: 30rem;
}

.project__links {
  display: flex;
  gap: 1em;
}

.project__link {
  background-color: var(--font-color);
  color: black;
  display: flex;
  align-items: center;
  gap: 0.4em;
  font-size: 1rem;
  padding: 0.6em;
  border-radius: var(--border-radius);
  text-decoration: none;
  font-weight: 500;
}

.project__link img {
  height: 1.7rem;
}

.project__visualization {
  max-width: 30rem;
  justify-self: flex-start;
  height: auto;
}
